.header {
    background-color: rgb(7, 67, 50);
    color: white;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    margin: 0;
}

.header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}